@tailwind base;
@tailwind components;
@tailwind utilities;

#svg-turkiye-haritasi-container {
    height: 800px !important;
    width: 800px !important;
}

@media screen and (max-width: 360px) {
    #svg-turkiye-haritasi-container {
        height: 250px !important;
        width: 250px !important;
    }
    #degreesText {
        font-size: 1.0rem !important;
    }
    #nameAndCountry {
        font-size: 0.5rem !important;
    }
}

@media screen and (min-width: 360px) and (max-width: 720px) {
    #svg-turkiye-haritasi-container {
        height: 350px !important;
        width: 350px !important;
    }
    #degreesText {
        font-size: 1.5rem !important;
    }
    #nameAndCountry {
        font-size: 0.5rem !important;
    }
}

@media screen and (min-width: 720px) and (max-width: 960px) {
    #svg-turkiye-haritasi-container {
        height: 450px !important;
        width: 450px !important;
    }
    #degreesText {
        font-size: 2rem !important;
    }
    #nameAndCountry {
        font-size: 0.5rem !important;
    }
}